.registerForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-self: center;
    padding: 2rem;
    width: 70vw;
    
     & h2 {
      color:var(--color-primary);
      font-size: 2rem;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    
   & label {
      font-weight: 600;
      color: var(--color-grey-dark);
      text-align: left;
    }
   
    & input {
      padding: 0.6rem;
      border-radius: 8px;
      border: var(--color-primary) 1px solid;
      /* background-color: var(--color-primary-light); */
      font-size: 1rem;
    }
    
   
  }

  .buttonSignup {
       background-color: var(--color-primary);
      color: var(--background);
      padding: 0.6rem 1.2rem;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      margin-top: 1rem;
      font-size: 1rem;

      &:hover {
        color : var(--color-primary);
        background-color: var(--background);
        font-weight: 600;
      }
    }

    .buttonBackSignin {
      font-weight: 600;
        border: none;
        background-color: transparent;
        color: var(--color-primary);
    }

    @media screen and (min-width: 768px) {
  .registerForm {
   
      width: 40vw;
      padding: 1rem;

  }
}
