@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

a {
    color: inherit;
    text-decoration: none;
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: "Manrope", sans-serif;
}

.card {
    margin-bottom: 15px;
    padding: 15px;
    background-color: rgba(129, 138, 249, 0.5);
    border-radius: 8px;
}

@media screen and (min-width: 650px) {
    .card-content {
        display: flex;
        gap: 30px;
    }

    .card-info div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }

}

/* Photo styles */

.profilephoto {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.photo {
    width: 150px; 
    height: 360px;
    object-fit: cover;
    border-radius: 8px;
    margin: 0 auto; 
}

/* card-info styles */

.card-info h2 {
    margin: 0 0 10px 0;
}

.card-info p {
    margin: 0;
    line-height: 1.6;
}

.card-info a {
    margin-top: 10px;
    text-decoration: none;
    color: #0070f3;
    font-weight: 500;
}

.card-info a:hover {
    text-decoration: underline;
}

.detailcard {
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(129, 138, 249, 0.3);
    border-radius: 8px;
}

.header-card {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}