.main {
  background-color: var(--color-primary);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  background-image: url('/dogBackground.png');
  color: var(--background);
  text-align: center;

  & h1 {
    font-weight: 100;
    font-size: 1.2rem;
    letter-spacing: 0.08rem;
    padding: 2rem 4rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;  
    gap:0.4rem;
  }

  & h2{
   font-weight: 200;
   padding: 0rem 2.4rem;
   letter-spacing: 0.06em;
     line-height: 1.6;
     margin-bottom: 2rem;
   & strong {
    font-weight: 600;
   }
  }

  & .buttonLogin {
    background-color: var(--color-secondary);
    color: var(--background);
    border: none;
    cursor: pointer;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.05em;
  }
}
@media (max-height: 667px) {
  .main {
    background-size: contain;
    background-position: bottom right;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: flex-start;
    padding-left: 5vw;
    & h2 {
      padding: 0;
    }
}}

@media (min-width:508px) {
  .main {
    background-size: contain;
    background-position: bottom right;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: flex-start;
    padding-left: 5vw;
    & h2 {
      padding: 0;
    }
}}

@media (min-width: 767px) {
  .main {
    background-size: contain;
    background-position: center right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5vw;
    
    & .logo {
    width: 50px;
    }

    & section {
      width: 50vw;
      max-width: 600px;
      text-align: left;
    }
    
    & h1 {
      font-size: 2rem;
      padding: 1rem 0;
      text-align: left;
      justify-content: flex-start;
      align-items: center;
    }

    & h2 {
      font-size: 1.3rem;
      padding: 1rem 0;
      text-align: left;
      margin-left: 0;
      margin-right: 0;
    }

    & a {
      width: 12rem;
      text-align: center;
      margin: 0;
    }
  }
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  animation: fadeIn 0.3s ease;
}

.modalContent {
  background: var(--background);
  border-radius: 8px;
  width: 70vw;
  min-height: 60vh;
  overflow-y: auto;
  animation: slideIn 0.3s ease;
}