.loginForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-self: center;
    padding: 2rem;
    width: 70vw;
    
    & h2 {
      color:var(--color-primary);
      font-size: 2rem;
      text-align: center;
      margin: 0;
      padding: 0;

    }
    
   & label {
      font-weight: 600;
      color: var(--color-grey-dark);
      text-align: left;
    }
   
    & input {
      padding: 0.6rem;
      border-radius: 8px;
      border: var(--color-primary) 1px solid;
      background-color: var(--background);
      font-size: 1rem;
    }
    
   
  }


.buttonConnect {
      background-color: var(--color-primary);
      color: var(--background);
      padding: 0.6rem 1.2rem;
      border: none;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        color : var(--color-primary);
        background-color: var(--background);
        font-weight: 600;
      }
    }

    .registerPrompt {
     padding-top: 2rem;
      text-align: center;
      font-size: 0.9rem;
      color: var(--color-grey-dark);
    }

    .buttonRegister{
    border: none;
    background-color: transparent;
    font-weight: 600;
    color: var(--foreground);
    font-size: 1.2rem;
    }

    .buttonCancel {
      background-color: var(--color-grey-light);
      color: var(--color-primary);
      padding: 0.6rem 1.2rem;
      border: 2px solid var(--primary);
      border-radius: 8px;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        border: none;
        color : var(--dark);
        background-color: var(--second);font-weight: 600;
      }
    }

@keyframes openModal {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .loginForm {
   
      width: 40vw;
      padding: 1rem;

  }
}
