.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.profilephoto {
    max-width: 100px;
    border-radius: 8px;
}

.photo {
    max-width: 400px;
    border-radius: 8px;
}

.card {
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(129, 138, 249, 0.5);
    border-radius: 4px;
}

.detailcard {
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(129, 138, 249, 0.3);
    border-radius: 4px;
}
